<?xml version="1.0" encoding="UTF-8"?>
<TableInfo>
    <!--文件启示名称-->
    <FileName>xz_pw_zdhqx</FileName>
    <!--文件扩展名-->
    <FileExt>txt</FileExt>
    <!--表名称-->
    <TableName>EFILEDB.ACT_WGDY_MX_DATA_E</TableName>
    <!--暂时没用-->
    <Length>-1</Length>
    <!--每个字段的分隔符-->
    <Split>        </Split>
    <!--解析E文件的XML的节点-->
    <TagName>BusbarSection</TagName>
    <!--解析E文件的字符编码-->
    <Charset>GB2312</Charset>
    <!--固定列 解析时会将文件中system 的时间 对应到表中的字段-->
    <DataColumn>Alisa</DataColumn>
    <System>推送时间</System>
    <!--列的配置，其中DataType和表中类型一致；主键列必须有<IsPrimarykey>true</IsPrimarykey> -->
    <Columns>
        <ColumnInfo><Index>1</Index><Name>FAC</Name><Alisa>厂站名</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>2</Index><Name>FAC_ID</Name><Alisa>厂站ID</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>3</Index><Name>MXMC</Name><Alisa>母线名</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>4</Index><Name>MXID</Name><Alisa>母线ID</Alisa><DataType>VARCHAR2</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>5</Index><Name>V</Name><Alisa>V</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>6</Index><Name>V_QUAL</Name><Alisa>V_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>7</Index><Name>V_A</Name><Alisa>V_A</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>8</Index><Name>V_A_QUAL</Name><Alisa>V_A_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>9</Index><Name>V_B</Name><Alisa>V_B</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>10</Index><Name>V_B_QUAL</Name><Alisa>V_B_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>11</Index><Name>V_C</Name><Alisa>V_C</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>12</Index><Name>V_C_QUAL</Name><Alisa>V_C_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>13</Index><Name>A</Name><Alisa>A</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>14</Index><Name>A_QUAL</Name><Alisa>A_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>15</Index><Name>OCCUR_TIME</Name><Alisa>推送时间</Alisa><DataType>TIMESTAMP</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
    </Columns>
</TableInfo>