<?xml version="1.0" encoding="UTF-8"?>
<TableInfo>
    <FileName>xz_pw_zdhqx</FileName>
    <FileExt>txt</FileExt>
    <TableName>EFILEDB.ACT_WGDY_MX_FDJ_E</TableName>
    <Length>-1</Length>
    <Split>        </Split>
    <TagName>Gn_bus_relate</TagName>
    <Charset>GB2312</Charset>
    <DataColumn>Alisa</DataColumn>
    <System>推送时间</System>
    <Columns>
        <ColumnInfo><Index>1</Index><Name>FAC_ID</Name><Alisa>厂站ID</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>2</Index><Name>FDJID</Name><Alisa>发电机ID</Alisa><DataType>VARCHAR2</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>3</Index><Name>FDJMC</Name><Alisa>发电机名称</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>4</Index><Name>MXID</Name><Alisa>母线ID</Alisa><DataType>VARCHAR2</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>5</Index><Name>MXMC</Name><Alisa>母线名称</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>6</Index><Name>OCCUR_TIME</Name><Alisa>推送时间</Alisa><DataType>TIMESTAMP</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
    </Columns>
</TableInfo>