<?xml version="1.0" encoding="UTF-8"?>
<TableInfo>
    <FileName>cim_e_his</FileName>
    <FileExt>DT</FileExt>
    <TableName>EFILEDB.ACT_WGDY_FDJ_DATA_E</TableName>
    <Length>-1</Length>
    <Split>        </Split>
    <TagName>SynchronousMachine</TagName>
    <Charset>GB2312</Charset>
    <DataColumn>Alisa</DataColumn>
    <System>推送时间</System>
    <Columns>
        <ColumnInfo><Index>1</Index><Name>FAC</Name><Alisa>厂站名</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>2</Index><Name>FAC_ID</Name><Alisa>厂站ID</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>3</Index><Name>FDJMC</Name><Alisa>发电机名</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>4</Index><Name>FDJID</Name><Alisa>发电机ID</Alisa><DataType>VARCHAR2</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
        <ColumnInfo><Index>5</Index><Name>P</Name><Alisa>P</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>6</Index><Name>P_QUAL</Name><Alisa>P_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>7</Index><Name>Q</Name><Alisa>Q</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>8</Index><Name>Q_QUAL</Name><Alisa>Q_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>9</Index><Name>V</Name><Alisa>V</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>10</Index><Name>V_QUAL</Name><Alisa>V_qual</Alisa><DataType>VARCHAR2</DataType></ColumnInfo>
        <ColumnInfo><Index>11</Index><Name>OCCUR_TIME</Name><Alisa>推送时间</Alisa><DataType>TIMESTAMP</DataType><IsPrimarykey>true</IsPrimarykey></ColumnInfo>
    </Columns>
</TableInfo>